<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<div th:fragment="navbar(activeTab, currentUser)" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar fixed-top navbar-expand-lg p-4 dark-background">
        <div class="container-fluid">
            <a class="navbar-brand text-light py-0 ms-4 me-5 fs-4" href="/home">REALIT.U</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <div class="navbar-nav">

                    <a class="nav-link mx-1"
                       th:classappend="${activeTab == 'home'} ? 'link-active-tab' : 'link-tab'"
                       href="/home">Home</a>

                    <a class="nav-link mx-1"
                       th:classappend="${activeTab == 'histories'} ? 'link-active-tab' : 'link-tab'"
                       href="/histories">Histories & Donates</a>

                    <a class="nav-link mx-1"
                       th:classappend="${activeTab == 'about'} ? 'link-active-tab' : 'link-tab'"
                       href="/about">About Us</a>

                    <!--                    For Copywriters and Super-->
                    <a sec:authorize="hasAnyAuthority('WRITE_ARTICLE', 'WRITE_MY_ARTICLE')"
                       class="nav-link mx-1"
                       th:classappend="${activeTab == 'articles'} ? 'link-active-tab' : 'link-tab'"
                       href="/articles">My Articles</a>

                    <a sec:authorize="hasAuthority('WRITE_USER')"
                       class="nav-link mx-1"
                       th:classappend="${activeTab == 'users'} ? 'link-active-tab' : 'link-tab'"
                       href="/users">Copywriters</a>

                    <form class="d-flex mx-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form>

                    <div class="d-flex mx-2" th:if="${currentUser == null}">
                        <a role="button" class="btn btn-outline-light" href="/login">Login</a>
                    </div>

                    <div class="d-flex mx-2" th:if="${currentUser != null}">
                        <a role="button" class="btn btn-outline-light" href="/logout">Logout</a>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</div>

</html>