<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragments/head :: head('Histories')}">
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar('histories', ${currentUser})}"></div>

<div class="align-self-center">
    <div class="container container-margin py-4 px-5 white-background">
        <div class="row">
            <div class="col">

                <div th:object="${article}" class="mb-3">
                    <div class="container">
                        <h1 class="mb-4" th:text="*{title}">This Title</h1>
                        <img th:src="@{'image/' + *{id}}" class="mb-1" alt="Article Image"/>
                        <p class="mb-4 fst-italic" th:text="*{imageTitle}">Image Title</p>
                        <p class="mb-4 fs-5" th:text="*{content}">Content</p>
                        <div class="row mb-4">
                            <div class="col-6 text-start">
                                <p class="fst-italic" th:text="'Written by: ' + *{authorName}"></p>
                            </div>
                            <div class="col-6 text-end">
                                <p class="fst-italic" th:text="*{creationDateString}"></p>
                            </div>
                        </div>


                        <h2 class="mb-3">How can I help?</h2>
                        <ul class="mb-5">
                            <li th:if="*{monoLink != null}">
                                <p class="fs-5">Donate on&nbsp;
                                    <a th:href="*{monoLink}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                        Mono Banka
                                    </a>
                                </p>
                            </li>
                            <li th:if="*{cardNumber != null}">
                                <p class="fs-5" th:text="'Send money for ' + *{cardOwner} + ' on card:&nbsp&nbsp' + *{cardNumber}">
                                </p>
                            </li>
                        </ul>


                    </div>
                </div>

                <div class="row mb-4" th:if="${!#lists.isEmpty(recommendations)}">
                    <h2 class="mb-3 mx-2">You can also read</h2>
                    <div th:each="recommendation : ${recommendations}" class="col">
                        <div th:object="${recommendation}">
                            <a th:href="@{'/home/article/' + *{titleForLink} + '/' + *{id}}"
                               class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
                                <div class="container-md">
                                    <img th:src="@{'image/' + *{id}}" class="mb-2" alt="Article Image"/>
                                    <p class="fs-5" th:text="*{title}"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mb-4 d-block d-xl-none d-xxl-none" th:if="${!#lists.isEmpty(histories3)}">
                    <h2 class="mb-2 mx-2">Histories</h2>
                    <div class="col pt-4 px-4 gray-background">
                        <div th:each="history : ${histories3}" th:object="${history}" class="row">
                            <div class="container-md">
                                <a th:href="@{'/histories/article/' + *{titleForLink} + '/' + *{id}}"
                                   class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
                                    <img th:src="@{'image/' + *{id}}" class="mb-2" alt="Article Image"/>
                                    <p class="fs-5 mb-2" th:text="*{title}"></p>
                                    <button th:if="*{monoLink == null}"
                                            class="btn btn-dark btn-text-bold rounded-4 p-3 w-100 mb-4"
                                            type="button">
                                        Donate
                                    </button>
                                </a>
                                <a th:if="*{monoLink != null}" th:href="*{monoLink}"
                                   class="btn btn-dark btn-text-bold rounded-4 p-3 w-100 mb-4"
                                   role="button">
                                    Mono Banka
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="/home"
                       class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover mb-4"><
                        Back Home</a>
                </div>

            </div>

            <div th:if="${!#lists.isEmpty(histories)}" class="col-3 d-none d-xl-block d-xxl-block">

                <h2 class="mb-2">Histories</h2>

                <div class="row gray-background mb-3 pt-4 d-flex justify-content-center">
                    <div class="col">
                        <div th:each="history : ${histories}" class="row mb-2">
                            <div th:object="${history}">
                                <div class="container-md">
                                    <a th:href="@{'/histories/article/' + *{titleForLink} + '/' + *{id}}"
                                       class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
                                        <img th:src="@{'image/' + *{id}}" class="mb-2" alt="Article Image"/>
                                        <p class="fs-5 mb-2" th:text="*{title}"></p>
                                        <button th:if="*{monoLink == null}"
                                                class="btn btn-dark btn-text-bold rounded-4 p-3 w-100 mb-4"
                                                type="button">
                                            Donate
                                        </button>
                                    </a>
                                    <a th:if="*{monoLink != null}" th:href="*{monoLink}"
                                       class="btn btn-dark btn-text-bold rounded-4 p-3 w-100 mb-4"
                                       role="button">
                                        Mono Banka
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<div th:replace="~{fragments/scripts :: scripts()}"></div>
</body>
</html>